git+https://github.com/python-telegram-bot/python-telegram-bot.git
git+https://github.com/dbader/schedule.git
git+https://github.com/pytgcalls/ntgcalls.git
git+https://github.com/pytube/pytube.git
git+https://github.com/googleapis/google-auth-library-python.git
git+https://github.com/googleapis/google-auth-library-python-oauthlib.git
git+https://github.com/googleapis/google-auth-library-python-httplib2.git
git+https://github.com/googleapis/google-api-python-client.git
git+https://github.com/pyrogram/pyrogram.git
git+https://github.com/iterative/PyDrive2.git
git+https://github.com/theskumar/python-dotenv.git
git+https://github.com/python/asyncio.git
